.searchCity {
	border-bottom: 3px solid #333;
	min-height: 160px;
}
.searchCity .btn {
	background-color: #546e7a;
	border-radius: 5%;
	font-style: inherit;
}
.cityHistoryContiner {
	min-height: 300px;
}
.cityHistoryContiner .historyBtn {
	background-color: #546e7a;
	border-radius: 5%;
	padding: 2%;
	margin: 3%;
	font-size: large;
}
.currentWeather .card {
	margin: 10px;
	border-radius: 5%;
	padding: 2%;
}
.futureForecast .card {
	margin: 10px;
	border-radius: 5%;
	padding: 2%;
}
header h3 {
	background-color: #546e7a;
	border-radius: 15%;
	padding: 2%;
}
